doctype html
html
    head
        link(href='css/app.css' rel='stylesheet')
        <meta name="viewport" content="width=device-width, initial-scale=1">
    body
        //- h1 Preamble
        //- p Hi there
        img.logo(src='img/preamble-logo-white.png')
        //- a(href='/about') About
        script(type='text/javascript', src='app.js')
