doctype html
html
    head
        link(href='css/app.css' rel='stylesheet')
        <meta name="viewport" content="width=device-width, initial-scale=1">
    body
        .hero
            img.logo(src='img/preamble-logo-white.png')
            h1 Networking should be easy
            .subtitle Connecting and<br/>following up made simple
            .beta-signup
                .beta-signup__label Sign up for our private beta:
                input.beta-signup__email(placeholder='Your email')
            script(type='text/javascript', src='app.js')
        p Lorem ipsum Sit labore in quis eiusmod cillum aliqua minim id ex sunt non ad magna incididunt aliquip veniam laboris eiusmod quis laborum irure amet Excepteur ea dolor irure pariatur irure incididunt fugiat Duis laborum cupidatat.
