doctype html
html
    head
        link(href='css/app.css' rel='stylesheet')
        <meta name="viewport" content="width=device-width, initial-scale=1">
    body
        .hero
            img.logo(src='img/preamble-logo-white.png')
            h1 Networking should be easy
            .subtitle Connecting and<br/>following up made simple
            .beta-signup
                .beta-signup__label Sign up for our private beta:
                input.beta-signup__email(placeholder='Your email')
            script(type='text/javascript', src='app.js')
        .section
            .screenshot
                img(src='img/iphone-profile-screenshot.png')
            p A Preamble is a business card designed for easy mobile sharing.
        .section
            .screenshot
                img(src='img/iphone-dial-screenshot.png')
            p Make a connection with SMS by texting your Preamble profile.
        .section
            .screenshot
                img(src='img/htc-one-m8-receive-preamble-screenshot.png')
            p Your new connection will receive a link to your profile. They can text back to continue the conversation.
        .section
            .border
            p Watch our video
            iframe.youtube-insert(width="320px" height="180px" src="//www.youtube.com/embed/2F2cVlfiYFc" frameborder="0" allowfullscreen)
