html {
    background: black;
    // h1 {
    //     color: white;
    //     background: blue;
    // }
    // p {
    //     color: gray;
    // }
}
.logo {
    width: 100px;
    display: block;
    margin: 0 auto; // center
}
